name: check diff
run-name: ${{ github.ref_name }} by @${{ github.actor }} ${{ github.workflow }}
on:
  pull_request:
    paths:
      - .github/workflows/check.diff.yaml
      - 'schema/**'
jobs:
  diff:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:15.3
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
      - name: Setup tbls
        run: go install github.com/k1LoW/tbls@latest
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
      - name: Setup Prisma
        run: bun install
        working-directory: schema
      - name: Setup Atlas
        run: curl -sSf https://atlasgo.sh | sh
      - name: Atlas apply
        run: atlas schema apply -u "postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable" --to file://schema/schema.hcl --auto-approve
      - name: Prisma pull
        run : bun run prisma db pull
        working-directory: schema
      - name: Doc tbls
        run: tbls doc "postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable" doc
      - name: Check diff
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git status --porcelain;
            exit 1;
          else
            echo "no changes";
          fi
